blinker @ file:///croot/blinker_1696539051175/work
click @ file:///croot/click_1698129812380/work
Flask @ file:///croot/flask_1716545870149/work
gunicorn==23.0.0
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
itsdangerous @ file:///croot/itsdangerous_1716533337253/work
Jinja2 @ file:///croot/jinja2_1716993405101/work
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
packaging==24.1
python-dotenv==1.0.1
Werkzeug @ file:///croot/werkzeug_1716533313107/work
zipp @ file:///croot/zipp_1729012354496/work
